@import url('https://fonts.googleapis.com/css?family=Lato:wght@300;400;700');

body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.header {
    font: 18px "Century Gothic", Futura, sans-serif;
    display: flex; 
    flex-direction: row;
    height: 60px;
    background-color: rgba(40, 90, 90, 1); /* 33, 33, 33, 1); */
    color: rgba(200, 200, 200, 1);
    margin-bottom: 12px;
}

/* .navbar {
    background-color: rgba(34, 110, 147, 1) !important;
    background-image: url(../img/simple-header-blended-small.png);
    background-size: cover;
} */

.dropdown-menu {         
    max-height: 200px;
    overflow-y: auto;
  }

/* .nav-link {
    color: rgba(255,255,255, .8) !important;
}

.nav-item {
    margin-right: 15px;
    margin-left: 15px;
} */

.slider-play-pause-hide {
    display: none !important;
}

.scene-control-container {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 10px 0 0 25px;
    height: 40px;
    vertical-align: middle;
}

.scene-control-container div, .scene-control-container i {
    display: inline-block;
    vertical-align: middle;
}

.scene-control-container i:hover {
    color: #ffffff;
    cursor: pointer;
}

.scene-control-background {
    background: #dddddd;
    border-radius: 15px;
    border: 1px solid #333333;
    padding: 2px 10px;
    height: 34px;
    margin-left: 25px;
}

.slider-holder {
    width: 300px;
    margin: -4px 15px 0 15px;
}

.slider-current-frame {
    margin-left: 20px;
}

.title { 
    margin-left: 30px;
    margin-right: 10px;
    position: relative;
    display: table;
    text-align: center;
    height: 60px;
}
.title .Dropdown-root {
    vertical-align: middle !important;
    display: table-cell !important;
}

.voe_div {
    display: flex; 
    flex-direction: row;
}

.scene-image-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.scene-image-container-holder {
    position: relative;
}

.scene-image {
    width: 288px;
    height: 288px;
    margin: 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.location-dot {
    position: absolute;
    height: 6px;
    width: 6px;
    margin: 5px 25px;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 50%;
    border: #000 1px;
    z-index: 10;
}

.scene-info-container {
    display: flex;
    flex-direction: row;
    margin: 10px 25px;
}

.scene-info-holder {
    margin-right: 30px;
}

.scene-info-holder-note {
    font: 12px "Century Gothic", Futura, sans-serif;
    line-height: 24px;
}

.sceneinfo {
    width: 250px;
    margin: 0 25px;
    text-align: center;
}

.sceneScore {
    width: 250px;
    margin: 0 25px;
    position: relative;
    margin-top: 298px;
    padding-left: 18px;
}

.voe_chart {
    margin-left: 20px;
    margin-right: 30px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
/*     display: flex; */
/*     flex-direction: row; */
}

.game-info {
    margin-left: 20px;
}

.slider {
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
}

.header-dropdown-title {
    position: relative;
    padding-right: 5px;
    vertical-align: middle;
    display: table-cell;
}

.layout-board {
    margin-bottom: 50px;
}

.movie-holder {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.eval3-movies {
    margin: 15px;
    display: flex;
    align-items: center;
}

.scores_header {
    display: flex;
    margin: 10px 10px 0 10px;
}

.scenes_header {
    display: flex;
    margin: 25px 10px 0 10px;
}

.movie-text{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.performer-group, .metadata-group, .score-table-div, .scene-group, .scene-table-div {
    display: flex;
    margin: 5px 10px 10px 10px;
}

.score-table-div .table, .object-contents .table {
    border: 1px solid black;
    padding: 5px 15px 5px 15px; 
    text-align: center; 
}

.score-table-div th, td {
    border: 1px solid black;
    padding: 5px 15px 5px 15px; 
    text-align: center; 
}

.bold-label {
    font-weight: bold;
    width: 200px;
    margin: 2px 0;
    text-align: right;
}

.scene-text {
    padding-left: 15px;
    margin: 2px 0;
    text-align: left;
}

.scene-table-div {
    flex-direction: column;
}

.scene-table-div .table, .scene-table-div td, .object-contents .table, .object-contents td {
    border: 0px solid;
}

.movie-steps-holder{
    display: flex;
    margin: 20px 35px;
}

.interactive-movie-holder {
    width: 500px;
    display: inline-block;
    height: 350px;
    margin: 10px;
}

.steps-holder {
    width: 400px;
    display: inline-block;
    height: 350px;
    margin: 10px;
}

.top-down-holder {
    width: 500px;
    display: inline-block;
    height: 350px;
}

.steps-container {
    width: 370px;
    height: 310px;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #000;
}

.steps-container {
    width: 100%;
}

.step-div.pointer {
    cursor: pointer;
}

.step-div:hover {
    background-color: #FFFF66;
    cursor: pointer;
}

.step-highlight {
    background-color: #add8e6;
}

.movie-playback-buttons-holder {
    display: flex;
}

.scene-movie-playback-buttons-holder, .topdown-movie-playback-buttons-holder {
    width: fit-content;
    height: fit-content;
    padding-left: 150px;
}

.topdown-movie-playback-buttons-holder {
    padding-left: 300px;
}

.sync-video-button-holder {
    padding-left: 310px;
}

.scene-movie-playback-button, .topdown-movie-playback-button, .loop-video-button, .sync-video-button {
    color: white;
    background-color:rgb(100,115,135);
    width: auto;
    height: auto;
    border-style: hidden;
}

.object-nav, .object-contents {
    display: flex;
    margin: 10px;
}

.object-nav .nav {
    width: 100%;
}

.object-nav .nav-item {
    margin-left: 3px;
    margin-right: 3px;
}

.object-nav .nav-tabs, .object-nav .li, .object-nav button {
    color: black !important;
}

.flags-holder {
    position: absolute;
    right: 25px;
}

.checkbox-holder {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}

.query-builder-holder {
    width: 100%;
    z-index: 11 !important;
}

.query-parameter-header {
    margin-left: 30px;
    font-size: 16px;
    z-index: 11 !important;
}

.query-parameter-adder {
    display: flex;
    border-bottom: #e5e5e5 1px dashed;
    align-items: center;
    padding: 15px 30px;
    z-index: 11 !important;
}

.query-collection-selector {
    width: 250px;
    z-index: 11 !important;
}

.query-collection-value-selector {
    width: 400px;
    z-index: 11 !important;
}

.query-function-selector {
    width: 180px;
    z-index: 11 !important;
}

.query-builder-label {
    font-size: 12px;
    color: #a0a0a0;
    padding-bottom: 3px;
}

.query-add-spacer {
    margin: 20px 10px 0 10px;
    font-size: 16px !important;
}

.query-param-spacer {
    margin: 0 8px;
    font-size: 16px !important;
}

.query-add-param-btn {
    margin: 20px 0 0 20px;
    border-radius: 20px !important;
}

.query-field-input {
    border-radius: 4px;
    z-index: 11 !important;
}

.query-multi-operator {
    margin: 16px 10px 0 10px;
}

.query-parameters-holder, .query-results-holder {
    margin: 20px 30px;
}

.no-query-params {
    font-size: 16px;
    padding: 0 10px;
}

.query-added-parameter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remove-param-link {
    background-color: #e7e7e8;
    border-radius: 50px;
    margin-right: 10px;
    color: #000 !important;
}

.query-line-remove-icon {
    padding: 5px 4px 0px 4px;
    font-size: 14px !important;
}

.query-field-param {
    color: #2691ca;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    padding: 3px 5px;
}

.query-field-param-operator {
    border-radius: 15px;
    padding: 3px 8px;
    background-color: #e7f3fd;
    border: 1px solid #6ab2db;
}

.query-line .btn-outline-secondary {
    height: 40px !important;
}

.query-line .Dropdown-root {
    width: 200px;
    margin: 0 10px;
    display: inline-block;
    text-overflow: ellipsis;
    height: 45px;
}

.query-field-selector .Dropdown-root, .query-line .query-field-selector {
    width: 300px;
    margin: 0 10px;
    display: inline-block;
    text-overflow: ellipsis;
    height: 45px;
    z-index: 11 !important;
}

.query-field-value-selector .Dropdown-root, .query-line .query-field-value-selector {
    width: 300px;
    margin: 0 10px;
    display: inline-block;
    text-overflow: ellipsis;
    height: 45px;
    z-index: 11 !important;
}

.query-field-value-selector-equals {
    width: 390px;
    margin: 0 10px;
    display: inline-block;
    text-overflow: ellipsis;
    height: 60px;
    z-index: 11 !important;
}

.nav ul li#user {
    float: right;
}

.grouped_table_row_span {
    margin-left: 10px;
}

.nav-brand-mcs {
    width: 80px;
    height: 45px;
    filter: brightness(0) invert(1);
}

.mcs-app .navbar {
    background-color: rgba(34, 110, 147, 1) !important;
    background-image: url(../img/header_background.png);
    background-size: cover;
    padding: 0px 10px;
}

.mcs-app .mcs-navbar .nav-link {
    color: #ffffff !important;
    text-decoration: none;
    margin-left: 8px;
}

.mcs-app .login-user {
    display: flex;
}

.nav-login-icon {
    height: 24px;
    width: 24px;
    margin-top: 8px;
    filter: brightness(0) invert(1);
}

.vertical-height-100 {
    height: 100vh;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:#F8F8F8;
}

.login-container {
    border: 1px solid 888888;
    margin: auto;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    border-radius: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color:#ffffff;
    font-family: 'Lato';
    font-size: 16px;
}

.login-container .nav-tabs .nav-link {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #F8F8F8;
}

.login-container .nav-item .active{
    background-color:#ffffff;
}

.login-container .nav-item a, .login-container .nav-item a:hover {
    color: #000000;
}

.login-container .nav-item {
    width:50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-header-logo {
    background-color: rgba(34, 110, 147, 1) !important;
    background-image: url(../img/header_background.png);
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #eee;
}

.login-header-text {
    margin-top: -5px;
}

.login-tab-content {
    padding: 20px 25px;
}

.sign-in-header {
    font-size: 22px;
}

.input-login-header {
    margin-bottom: 5px;
}

.sign-in-instructions {
    margin-bottom: 25px;
}

.feedback-display {
    display: inline !important;
}

.forgot-password {
    display: flex;
}

.forgot-password a {
    margin-left: auto;
}

.display-none {
    display: none;
}

.home-container {
    background-color: #F8F8F8;
    height: 100vh;
}

.charts-container {
    padding-bottom: 15px;
}

.chart-home-container {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 10px 25px;
}

.flex-chart-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-chart-center svg{
    overflow: visible !important;
}

.chart-header {
    display: flex;
    padding: 5px 0 0 20px;
    position: absolute;
    width: 95%;
}

.chart-selector {
    margin-left: 15px;
}

.chart-header-label {
    margin-top: 9px;
}

.chart-header-select {
    margin-top: 5px;
    width: 185px;
    margin-left: 8px;
    font-size: 12px;
}

.chart-weight-toggle {
    margin-left: auto;
    margin-top: 4px;
}

.eval-selector {
    margin-left: 15px;
    margin-top: -5px;
}

.home-navigation-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 0 0;
}

.evaluation-selector-container {
    margin-left: 35px;
    display: flex;
}

.evaluation-selector-label {
    margin-top: 7px;
    margin-right: 10px;
}

.evaluation-selector-holder {
    width: 250px;
}

.toggle-percent-number-container {
    margin-left: auto;
}

.load-query-contents {
    font-family: 'Lato' !important;
}

.query-page-contents {
    background-color: #e6f2f9;
    padding-top: 8px;
    font-family: 'Lato' !important;
}

.query-builder-nav, .load-query-nav {
    display: flex;
}

.query-builder-nav .nav-tabs {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    width: 100%;
    padding-right: 40px;
}

.load-query-nav .nav-tabs {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    width: 100%;
    padding-right: 20px;
}

.query-builder-nav .nav-item, .load-query-nav .nav-item {
    margin-right: 8px;
}

.query-builder-nav .nav-item button, .load-query-nav .nav-item button {
    padding: 5px 30px;
}

.query-tab-contents {
    background-color: white;
}

.query-tab-controls {
    margin-left: auto;
    display: flex;
    border-bottom: 1px solid #dee2e6;
}

.icon-margin-right {
    margin-right: 25px;
}

.icon-margin-left {
    margin-left: 25px;
}

.icon-link {
    color: #3c3c3c;
}

.icon-link-text {
    position: relative;
    top: -5px;
    left: 5px;
    margin-right: 20px;
}

.icon-link-text-close {
    position: relative;
    left: 5px;
    margin-right: 20px;
}

.query-controls {
    padding: 10px 25px;
    margin-bottom: 10px;
    display: flex;
}

.close-tab-link {
    margin-left: auto;
}

.saved-query-table {
    max-height: 400px;
    overflow-y: auto;
    margin: 25px 10px 10px 10px;
}

.saved-query-table table{
    width: 95%;
}

.saved-query-table th {
    text-align: center;
    border: 1px solid #000;
}

.query-results-header {
    display: flex;
}

.query-results-header h5 {
    font-weight: 700;
}

.query-num-results {
    color: #646464;
    font-size: 12px;
    margin: 0 0 8px 15px;
    align-self: flex-end;
}

.query-num-performance {
    color: #646464;
    font-size: 12px;
    margin: 0 0 8px 20px;
    align-self: flex-end;
    display: inline-block;
}

.results-group-chooser {
    right: 30px;
    position: absolute;
    z-index:10;
}

.csv-results-group-holder {
    padding-right: 200px;
    height: 5px;
    width: 400px;
    float: right;
    position: relative;
    top: -100px;
    z-index: 3;
}

.csv-results-child {
    width: 50%;
    float: left;
    padding: 5px;
} 

.query-parameters-holder, .query-results-holder {
    margin: 30px;
}

.results-table-scroll {
    width: 98%;
    overflow-x: scroll;
    padding: 0 8px 8px 0;
    max-height: 700px;
}

.results-table-scroll thead tr th {
    position: sticky;
    top: 0;
}

.results-table-scroll .MuiTable-stickyHeader {
    border-collapse: collapse;
}

.results-table-scroll .MuiTableCell-stickyHeader {
    background-color: #eee;
}

.query-results-footer tr td {
    position: sticky;
    left: 0;
    border-color: transparent !important;
}

.results-table-header-cell {
    min-width: 150px;
    line-height: 1.2rem !important;
    padding: 2px !important;
    font-family: Lato !important;
    text-align: center !important;
    background-color: #fff;
    font-weight: 700 !important;
}

.table-cell-wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px !important;
}

.table-tooltip {
    font-size: 12px;
    padding: 5px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.query-results-table-holder {
    position: relative;
}

.results-groupby-selector {
    width: 250px;
}

.classification-by-step {
    margin: 20px 10px 20px 10px;
    padding: 20px 0 20px 0;
}

.pointer-on-hover {
    cursor: pointer;
}

.internal-state-toggle {
    color: #007bff;
    cursor: pointer;
}
.internal-state-cell {
    max-width: 500px;
    word-wrap: break-word;
}

/* Evaluation Stats Page */
.eval-stats-body {
    background-color: #F8F8F8;
    display: flex;
}

.eval-not-configured {
    margin: 50px;
}

.eval-stats-container {
    display: flex;
}

.eval-stats-configure {
    margin-left: auto;
    position: relative;
    top: -30px;
}

.eval-charts-container {
    width: 95%;
}

.eval-chart-table {
    padding-top: 25px;
    padding-bottom: 10px;
}

.count-header-size {
    font-size: 11px;
}

.eval-chart-table table {
    margin: 0 auto;
}

.eval-chart-table th, td {
    padding: 5px 10px;
}

/* scene details */
.scene-details-header {
    margin: 5px 15px;
    flex-direction: column;
    flex: 1;
}

.scene-title-and-download {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.scene-details-btn-group {
    padding-top: 10px;
}

.download-scene {
    padding-top: 5px;
    margin-right: 30px;
}

.download-scene-text {
    position: relative;
    top: -8px;
    left: 2px;
}

/* score table */
.score-div {
    padding-top: 5px;
}

.score-text {
    position: relative;
    top: -5px;
    left: 5px;
}

.show-details-toggle:hover {
    color: #a2a9b5;
    cursor: pointer;
}

.TableRow.Mui-selected {
    background-color: #99d6ff !important;
}